<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function() {
            let socket = io.connect("http://127.0.0.1:5000");
            socket.on("connect", function() {
                socket.send("User has connected")
            })
            socket.on("message", function(msg) {
                $("#messages").append("<li>" + msg + "</li>");
            })
            $("#sendButton").on("click", function() {
                socket.send($('#myMessage').val());
		        $('#myMessage').val('');
            });
        })
    </script>
    <ul id="messages"></ul>
    <input type="text" id="myMessage" placeholder="Enter Text"/>
    <button id="sendButton">Send</button>
</body>
</html>